[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.*,<5.0"
psycopg2-binary = ">=2.9.5"
whitenoise = ">=6.3.0"

[dev-packages]
black = ">=23.1.0"
django-debug-toolbar = ">=3.8.1"
django-sslserver = ">=0.22"
flake8-isort = ">=6.0.0"
flake8 = ">=6.0.0"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
